<h1 class="text-center mx-auto my-5">Thank you!</h1>
<p class="description mx-auto">Thank you for your interest and belief in <i>Gilda</i>! Our current team is hard at work on wireframing and prototyping the future of driving. We’d love to let you know all the progress we’re making, and believe us, you would be one of the first people
    to get the chance to try out <i>Gilda</i>.
</p>
<div class="mt-5 d-flex justify-content-center">
    <div class="input-group emailInput">
        <input class="form-control" type="email" name="UserEmail" id="userEmail" placeholder="Your email address">
        <div class="input-group-append">
            <button class="btn btn-dark">Keep me updated!</button>
        </div>
    </div>
</div>