<div class="mx-auto mt-5 mb-3 text-center">
    <img class="logo" src="../../assets/Logo.png" alt="Logo">
</div>

<h1 class="text-center mx-auto">Gilda</h1>
<p class="description mx-auto mt-2"><i>Gilda</i> is an intuitive, understanding, and functional voice assistant designed for your car. Unlike current solutions, <i>Gilda</i> allows technology to empower and not hinder your driving experience. Our assistant gives the driver easy access to
    relevant, important driving information and commands, leveraging the APIs of commonly used apps, through a touchless and gazeless user interface. You control <i>Gilda</i> solely through the sound of your voice, allowing you to keep your smartphone
    in your cup holder and your eyes on the road.</p>
<p class="description mx-auto">The <i>Gilda</i> team loves to drive. The best drives are fun, memorable, hassle free, and personalized to you. We want to make the best drive every drive.</p>

<div class="mx-auto text-center">
    <button class="btn btn-dark" routerLink="/thanks">Get Gilda!</button>
</div>